body {
    background-color:rgb(197,218,193);

    font-family: 'Open Sans', sans-serif;
}

.navbarC{
    background-color: rgb(125,226,209);
    border-color: rgb(233,196,106);
  }

.search {
    width: 100%;	
    position: relative;
    display: flex;

}

.searchTerm {
    width: 100%;
    border: 3px solid gray;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: gray;
}

.searchButton { 
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    background: gray;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    margin: 5% auto;
    width: 60%;
}


.mainPortion {
    /*background-color: lightgrey;*/
    background-color:rgb(255,250,251);
    width: 50%;
    margin: 3% auto;
    padding: 5% 0; 
    font-size: 3vw;
    /* border-radius: 15px 10px 25px 5px; */
}

.mainPortion > div {
    text-align: center;
    margin: auto;
    
}
.parklist{
    padding: 3%;
    background-color: rgb(255,250,251);
    color: rgb(137,137,128); 
}

.rating{
    padding: 3%;
    background-color: rgb(255,250,251);
    color: rgb(137,137,128); 
}


img{
    border-radius: 25px;
    
}
a{
    text-decoration: none;
}

#greeting {
    text-align: center;
    background-color: rgb(222,242,200);
    color: rgb(137,137,128);
}

#add-color {
    margin-top: 30px;
    background-color: rgb(222,242,200);
    height: 9vh;
}