body {
    background-color:white;

    font-family: 'Open Sans', sans-serif;
}


.search {
    width: 100%;	
    position: relative;
    display: flex;

}

.searchTerm {
    width: 100%;
    border: 3px solid gray;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: gray;
}

.searchButton { 
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    background: gray;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    margin: 5% auto;
    width: 60%;
}


.mainPortion {
    background-color: lightgrey;
    width: 50%;
    margin: 3% auto;
    padding: 5% 0; 
    font-size: 3vw;
}

.mainPortion > div {
    text-align: center;
    margin: auto;
}
.parklist{
    padding: 3%;
}
img{
    border-radius: 25px;
}
a{
    text-decoration: none;
}

#greeting {
    text-align: center;
    background-color:#9DBFAF;
}