* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(197,218,193);
}

.container {
    width: 100%;
}

.top {
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    margin: 5%;
}
.toppart h1{
    font-size: 5rem;
    text-align: center;
}
.toppart div{
    font-size: 2rem;
}

/* .parkinfo {
    margin-left: 25%;
} */

.body{
    width:90%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 2%;
    margin: 5%;
    text-align: center;
}

.button {
    background-color: lightgray;
    border: none;
    color: white;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    margin: 3% auto;
    cursor: pointer;
    width: 80%;
  }

.bodypart{
    font-size: 20vw;
}
.font{
    font-size: 3vw;
}

a{
    color: inherit;
}

.myButton {
    background-color: rgb(158, 180, 153);
    color: black;
    border-color:rgb(158, 180, 153);
}