* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.top {
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    margin: 5%;
}
.toppart h1{
    font-size: 3vw;
    text-align: center;
}
.toppart div{
    font-size: 2vw;
}



.body{
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    margin: 5%;
    text-align: center;
}

.bodypart{
    font-size: 20vw;
}

a{
    color: inherit;
}