* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(197, 218, 193);
}

.container {
    width: 100%;
    display: grid;
}

.top {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
}

.toppart h1 {
    font-size: 16px;
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
}

.toppart h3 {
    text-align: center;
    font-size: 3rem;
}

.parkinfo p {
    font-size: 1rem;
}

.body {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 2%; */
    /* margin: 10%; */
    margin: 3%;
    text-align: center;
}

.bodypart {
    font-size: 10rem;
    margin: 20px;
}

.font {
    font-size: 3rem;
}

.font a {
    color: inherit;
    text-decoration: none;
}

.click-me:hover {
    color: red;
    background-color: silver;
    fill: red;
}

.click-me:active {
    fill: blue;
    background-color: blanchedalmond;
}

@media (max-width: 375px) {
    .toggle {
        display: none;
    }
}

.iconColor {
    color: rgb(20, 20, 9);
}